--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
fastapi
uvicorn
python-multipart
python-dotenv
huggingface-hub
boto3
transformers
pillow

# --- Machine Learning (Vision) ---
numpy<2
onnxruntime

# --- LLM & RAG (The Heavy Dependencies) ---
sentence-transformers
langchain
langchain-community
chromadb
# Note: This is the specific library that takes a long time to build
llama-cpp-python

# --- Monitoring ---
prometheus-fastapi-instrumentator

# --- Guardrails ---
better_profanity
